{% load crispy_forms_tags %}
<script src="https://unpkg.com/htmx.org@2.0.3"></script>

<div class="page-container">

    <form method="post">
    {% csrf_token %}

    <section class="test-section">
        <h2>Test</h2>
        <div id="test-container">
            {{ test_formset.management_form }}
            {% for form in test_formset %}
                <div class="test-form card">
                    {{ form|crispy }}
                    <div class="card-buttons">
                            <div class="my-indicator"></div>
                            <button type="button"
                                    class="btn btn-primary enhance-test"
                                    hx-post="{% url 'resume:enhance_test_form' %}"
                                    hx-trigger="click"
                                    hx-vals='{"field_id": "{{ form.description.id_for_label }}"}'
                                    hx-target="#{{ form.description.id_for_label }}"
                                    hx-swap="outerHTML"
                                    hx-indicator=".my-indicator"
                            >Enhance
                            </button>
                            <button type="button"
                                    class="btn btn-danger remove-test"
                            >Remove</button>
                        </div>
                </div>
            {% endfor %}
            <button type="button" id="add-test" class="btn btn-primary">Add Test</button>
        </div>
    </section>

    <br><br>
    <button type="submit" class="btn btn-success">Submit</button>
    <br><br>
    <button type="button"  class="btn btn-success" onclick="openPopup()">Preview</button>
</form>
</div>

<!-- Preview pop-up -->
<div class="popup" id="popup">
        <div class="popup-content">
            <iframe id="htmlPreview" srcdoc="" frameborder="0"></iframe>
        </div>
</div>

<!-- Test form template -->
<template id="test-form-template">
    <div class="test-form card">
        {{ test_formset.empty_form|crispy }}
        <div class="card-buttons">
            <div class="my-indicator"></div>
            <button type="button"
                    class="btn btn-primary enhance-test"
                    hx-post="{% url 'resume:enhance_test_form' %}"
                    hx-trigger="click"
                    hx-vals='{"field_id": "{{ test_formset.empty_form.description.id_for_label }}"}'
                    hx-target="#{{ test_formset.empty_form.description.id_for_label }}"
                    hx-swap="outerHTML"
                    hx-indicator=".my-indicator"
            >Enhance
            </button>
            <button type="button"
                    class="btn btn-danger remove-test"
            >Remove</button>
        </div>
    </div>
</template>


<style>
    .page-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;
        background-color: #f9f9f9;
        position: relative;
    }
    .card-buttons {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        gap: 10px;
    }
    .my-indicator {
        display: none;
        border: 2px solid #f3f3f3;
        border-top: 2px solid #3498db;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin .5s linear infinite;
    }
    .my-indicator{
        display:none;
    }
    .htmx-request .my-indicator{
        display:inline;
    }
    .htmx-request.my-indicator{
        display:inline;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .popup-content {
      width: 40%;
      height: 90%;
      margin: 0 auto;
      border: 5px solid #ccc;
    }
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      justify-content: center;
      align-items: center;
    }
    .popup.show {
      display: flex;
      width: 100%;
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
</style>

<script>


    // Dynamic ability for test form
    const TEST_SELECTORS = {
        form: '.test-form',
        container: '#test-container',
        addButton: '#add-test',
        totalForms: '#id_test-TOTAL_FORMS',
        template: '#test-form-template'
    }

    const testElements = {
        forms: document.querySelectorAll(TEST_SELECTORS.form),
        container: document.querySelector(TEST_SELECTORS.container),
        addButton: document.querySelector(TEST_SELECTORS.addButton),
        totalForms: document.querySelector(TEST_SELECTORS.totalForms),
        template: document.querySelector(TEST_SELECTORS.template)
    }

    let testFormIndex = testElements.forms.length - 1
    let testFormCount = testElements.forms.length

    testElements.addButton.addEventListener('click', addTestForm)

    function addTestForm(e) {
        e.preventDefault()
        
        try {
            const template = testElements.template
            const newForm = template.content.cloneNode(true)
    
            testFormIndex++
            testFormCount++
            newForm.querySelector('.test-form').innerHTML =
                newForm.querySelector('.test-form').innerHTML.replace(
                    RegExp('test-__prefix__-', 'g'),
                    `test-${testFormIndex}-`
            )
    
            testElements.container.insertBefore(newForm, testElements.addButton)
            testElements.totalForms.setAttribute('value', `${testFormCount}`)

            // reload htmx to recognize new form
            htmx.process(testElements.container);

        } catch (error) {
            console.error('Error adding test form:', error)
        }
    }

    document.addEventListener('click', function(e) {
        if (e.target && e.target.classList.contains('remove-test')) {
            e.target.closest('.card').remove()

            // Update total forms count
            testElements.totalForms.setAttribute('value', forms.length)
            testFormIndex = forms.length - 1
            testFormCount = forms.length
        }
    });

    function openPopup() {
      const popup = document.getElementById('popup');
      const htmlPreview = document.getElementById('htmlPreview');

      // Form elemanını seç ve FormData oluştur
        const form = document.querySelector('form');
        const formData = new FormData(form);

        // CSRF token'ını formdan al
        const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;

        // Django'dan HTML içeriğini al
        fetch("{% url 'resume:preview-test-form' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken // Token'ı Header olarak ekle
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.html) {
                htmlPreview.srcdoc = data.html;
                popup.classList.add('show');
            } else {
                console.error("Preview Error: Invalid HTML");
            }
        })
        .catch(error => console.error("Preview Error:", error));
    }

    window.onclick = function(event) {
      const popup = document.getElementById('popup');
      if (event.target == popup) {
        popup.classList.remove('show');
      }
    }
</script>
