{% load crispy_forms_tags %}

<div class="pdf-container">
    <div class="pdf-content">
        <p class='section'>TEST</p>
        <hr/>
        {% for form in test_formset %}
            <div class="title-date">
                <div class="title">{{ form.title }}</div>
                <div class="date">{{ form.start_date|date:"M Y"}} - {{ form.end_date|date:"M Y" }}</div>
            </div>
            <ul>
                <li>{{ form.description }}</li>
            </ul>
        {% endfor %}
    </div>
  </div>

<style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size:15px;
    }
    .pdf-container {
      background-color: white;
      overflow: auto;
    }
    .pdf-content {
      padding: 2rem;
        width: 800px;
        height: 1200px;
    }

    .section {
      font-weight: bold;
      font-size: 18px;
      line-height: 0;
    }
    .title-date {
      overflow: auto; /* Float'ın etkilerini temizlemek için */
      font-size: 15px;
    }

    .title {
      font-weight: bold;
      float: left;
    }

    .date {
      float: right; /* Sağa yaslar */
    }
</style>
